<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csw.mybatisSpringboot.mapper.DogLeashesMapper">
    <resultMap type="DogLeash" id="dogLeashS"><!--一条狗链对应一条狗-->
        <!--一条狗对应多条狗链-->
        <!--DogLeash是实体，里面必须有dog属性,javaType-->
        <!--column是查询出来的数据库别名，property是实体名字-->
        <id column="dlId" property="id"/>
        <result column="dlColor" property="color"/>
        <result column="dlVariety" property="variety"/>
        <!--<result column="acount" property="dogId"/>--><!--不需要的条件可以不查-->
        <association property="dog" javaType="Dog">
            <id column="did" property="id"/>
            <result column="dname" property="name"/>
            <result column="dage" property="age"/>
        </association>
    </resultMap>

    <select id="selectOneToOneByMybatisPlusPage" resultMap="dogLeashS">
        select d.id       as did,
               d.name     as dname,
               d.age      as dage,
               dl.id      as dlId,
               dl.color   as dlColor,
               dl.variety as dlVariety
        from dog d
                 left join DogLeash dl on d.id = dl.dogId

    </select>
    <select id="selectList" resultType="com.csw.mybatisSpringboot.entity.DogLeash">
        select *
        from DogLeash
    </select>
    <insert id="insertDogLeashForeach">
        insert into DogLeash (id,color,variety,dogId)values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.color},#{item.variety},#{item.dogId})
        </foreach>
    </insert>


</mapper>
